@model WineS.Models.Cart
<a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })"><span class="glyphicon glyphicon-lock"> </span>Корзина: @Model.ComputeTotalValue().ToString("# руб.")</a>