@model WineS.Models.Cart

@if (Model.ComputeTotalValue() == 0 )
{
    <a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })"><span class="glyphicon glyphicon-lock"> </span>Корзина</a>
}
else
{
    <a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })"><span class="glyphicon glyphicon-lock"> </span>Корзина: @Model.ComputeTotalValue().ToString("# руб.")</a>
}







@*<div class="cart box_1">
    @*<a href="NewCheckout.html">*@
    @*<a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })">
        <h4>
            <span class="glyphicon">
                @*<span class="simpleCart_total">*@
                @*@Model.ComputeTotalValue().ToString("$#")
            </span><img src="/images/bag.png" alt="">
        </h4>
    </a>*@
    @*<p><a href="javascript:;" class="simpleCart_empty">Empty cart</a></p>*@
    @*<div class="clearfix"> </div>
</div>*@